assertpy==1.1
coverage==5.3.1
coverage==5.3.1
pip==20.3.3
pytest==6.2.1
pytest-cov==2.10.1
pytest-httpserver==0.3.6
Sphinx==3.4.1
sphinx_rtd_theme==0.5.0
tox==3.20.1
twine==3.3.0
watchdog==1.0.2
wheel==0.36.2
